html, body{
    text-align: center;
}

.one-background, .one-buttons button{
    background-color: #73cb8c;
    color: black;
}

.two-background, .two-buttons button{
    background-color: #48a2df;
    color: black;
}

 .three-background, .three-buttons button{
    background-color: #9a7cee;
    color: black;
 }

 .one-text{
    color: #73cb8c;
}

.two-text{
    color: #48a2df;
}

 .three-text{
    color: #9a7cee;
 }

 a{
    color: inherit;
    text-align: center;
 }

a:hover {
    color: blue;
}