<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>US Per Capita Resources</title>
    <link rel="stylesheet" href="css/water.css">
  </head>
  <body>
    <a href="index.html">Home</a>
    <h1>US Per Capita Resources in %%YEAR%%</h1>

    <h2>Dam Capacity</h2>
    <p><strong>Definition: </strong> Dam capacity is ...</p>
    <p>Dam capacity in %%YEAR%% is %%DAM_VALUE%% </p>

    <h2>Dependency Ratio</h2>
    <p><strong>Definition: </strong> Dependency ratio is ...</p>
    <p>Dependency ratio in %%YEAR%% is %%DEPENDRATIO_VALUE%%</p>

    <h2>Renewable Water Resources</h2>
    <p><strong>Definition: </strong> is ...</p>
    <p>Value in %%YEAR%% is %%RENEWABLE_WATER_VALUE%%</p>

    <a href="#"><button>%%MINUS%%</button></a>
    <a href="#"><button>%%PLUS%%</button></a>
  </body>
</html>