<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Foundation Intro</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/water.css">
</head>
<body>
    <div class="off-canvas-wrapper hide-for-medium">
        <!-- Your menu or Off-canvas content goes here -->
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>

            <!-- Menu -->
            <ul class="vertical menu">
                <li class="one-text"><a href="precipitation/2019">Precipitation</a></li>
                <li class="two-text"><a href="capita/2019">Water per Capita</a></li>
                <li class="three-text"><a href="renewable/2019">Renewable Water Resources</a></li>
            </ul>
        </div>
        <!-- main content within a `grid-container` -->
        <div class="grid-container">
            <!-- `grid-x` represents a row -->
            <div class="grid-x grid-padding-x">
                <button type="button" class="cell large-auto button" data-toggle="offCanvas">Menu</button>
            </div>
        </div>
    </div>

    <!-- main content within a `grid-container` -->
    <div class="grid-container">
        <div class="grid-x grid-padding-x hide-for-small-only">
            <div class="cell medium-auto one-background"><a href="precipitation/2019">Precipitation</a></div>
            <div class="cell medium-auto two-background"><a href="capita/2019">Water per Capita</a></div>
            <div class="cell medium-auto three-background"><a href="renewable/2019">Renewable Water Resources</a></div>

        </div>
    </div>


    <h1>Water as a Resource</h1>

    <h5>Water Resources Per Capita 1961 - 2019</h5>
    <canvas id="myChart" width="4" height="1"></canvas>

    <h3>chart 2</h3>
    <p>some description</p>

    <!-- include before closing <body> tag -->
    <script src="js/vendor.js"></script>
    <script src="js/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>

    <script>
        const labels = () => {
            let array = [];
            for (let i=1961; i<=2019; i++) {
                array.push(i);
            }
            return array;
        }

        const data = {
            labels: labels(),
            datasets: [
                {
                    label: 'Total Renewable Water Resources Per Capita (m3/inhab/year)',
                    backgroundColor: 'rgb(255, 99, 132)',
                    borderColor: 'rgb(255, 99, 132)',
                    data: [%%DATA%%]
                        // [
                        //     16189.28386, 15958.29765, 15743.91919, 15546.44264,
                        //     15365.46096, 15200.91358, 15051.12085, 14912.11951,
                        //     14779.01807, 14648.23188, 14518.59655, 14390.22295,
                        //     14262.55766, 14135.37197, 14008.50135, 13881.44905,
                        //     13753.96456,  13626.4763, 13499.64461, 13373.92697,
                        //     13249.23255, 13125.37763, 13002.57131, 12881.05705,
                        //     12760.92405, 12641.95173, 12523.83216, 12406.40301,
                        //     12289.47885, 12172.75995, 12057.07392, 11942.07043,
                        //     11825.12551, 11702.96676, 11573.98045, 11437.19591,
                        //     11294.97973,  11152.8905, 11017.84377, 10894.14681,
                        //     10783.25302, 10682.98275, 10589.49347, 10497.52387,
                        //     10403.61867, 10306.99431, 10209.29456, 10112.49243,
                        //     10019.34112, 9931.670013, 9849.669871, 9772.519532,
                        //     9699.730662, 9630.549315, 9564.373485, 9501.077493,
                        //     9440.614927, 9382.558985, 9326.427223
                        // ]
                },
                {
                    label: 'Something else',
                    backgroundColor: 'rgb(20, 20, 20)',
                    borderColor: 'rgb(20, 20, 20)',
                    data: [1, 2, 3]
                }
            ]
        };

        const config = {
            type: 'line',
            data: data,
            options: {
                layout: {
                    padding: {
                        left: 200,
                        right: 200
                    }
                }
            }
        };

        const myChart = new Chart(
            document.getElementById('myChart'),
            config
        );
    </script>
</body>
</html>