<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Foundation Intro</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/water.css">
</head>
<body>
    <div class="off-canvas-wrapper hide-for-medium">
        <!-- Your menu or Off-canvas content goes here -->
        <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
            <!-- Close button -->
            <button class="close-button" aria-label="Close menu" type="button" data-close>
                <span aria-hidden="true">&times;</span>
            </button>

            <!-- Menu -->
            <ul class="vertical menu">
                <li class="one-text"><a href="precipitation/2019">Precipitation</a></li>
                <li class="two-text"><a href="capita/2019">Water per Capita</a></li>
                <li class="three-text"><a href="renewable/2019">Renewable Water Resources</a></li>
            </ul>
        </div>
        <!-- main content within a `grid-container` -->
        <div class="grid-container">
            <!-- `grid-x` represents a row -->
            <div class="grid-x grid-padding-x">
                <button type="button" class="cell large-auto button" data-toggle="offCanvas">Menu</button>
            </div>
        </div>
    </div>

    <!-- main content within a `grid-container` -->
    <div class="grid-container">
        <div class="grid-x grid-padding-x hide-for-small-only">
            <div class="cell medium-auto one-background"><a href="precipitation/2019">Precipitation</a></div>
            <div class="cell medium-auto two-background"><a href="capita/2019">Water per Capita</a></div>
            <div class="cell medium-auto three-background"><a href="renewable/2019">Renewable Water Resources</a></div>

        </div>
    </div>


    <h1>Water Resources</h1>
    <div class="chart-container">
        <canvas id="chart-1" width="4" height="1"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="chart-2" width="4" height="1"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="chart-3" width="4" height="1"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="chart-4" width="4" height="1"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="chart-5" width="4" height="1"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="chart-6" width="4" height="1"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="chart-7" width="4" height="1"></canvas>
    </div>

    <div class="chart-container">
        <canvas id="chart-8" width="4" height="1"></canvas>
    </div>

    <!-- include before closing <body> tag -->
    <script src="js/vendor.js"></script>
    <script src="js/foundation.js"></script>
    <script type="application/javascript">
        $(document).foundation();
    </script>

    <script>
        const years = () => {
            let array = [];
            for (let i=1961; i<=2019; i++) {
                array.push(i);
            }
            return array;
        }

        const data = (label, color, datastring) => {
            let data_array = datastring.split(',');
            let years_label = years();

            if (label === "National Rainfall Index (mm/year)") {
                years_label = years_label.splice(4);
            }

            return {
                labels: years_label,
                datasets: [
                    {
                        label: label,
                        backgroundColor: color,
                        borderColor: color,
                        data: data_array
                    }
                ]
            }
        };

        const config = (dataconfig) => {
            return {
                type: 'line',
                data: dataconfig,
                options: {
                    layout: {
                        padding: {
                            left: 60,
                            right: 60
                        }
                    }
                }
            }
        };


        let data_1 = data('Dam capacity per capita (m3/inhab)', 'rgb(20, 20, 20)', '%%DATA_1%%');
        let chart_1 = new Chart(document.getElementById('chart-1'), config(data_1));
        chart_1.canvas.parentNode.style.height = '10px';

        let data_2 = data('Dependency ratio (%)', 'rgb(66, 135, 245)', '%%DATA_2%%');
        let chart_2 = new Chart(document.getElementById('chart-2'), config(data_2));

        let data_3 = data('Long-term average annual precipitation in depth (mm/year)', 'rgb(235, 161, 52)', '%%DATA_3%%');
        let chart_3 = new Chart(document.getElementById('chart-3'), config(data_3));

        let data_4 = data('National Rainfall Index (mm/year)', 'rgb(50, 168, 82)', '%%DATA_4%%');
        let chart_4 = new Chart(document.getElementById('chart-4'), config(data_4));

        let data_5 = data('Total renewable groundwater (billion m3/year)', 'rgb(168, 50, 158)', '%%DATA_5%%');
        let chart_5 = new Chart(document.getElementById('chart-5'), config(data_5));

        let data_6 = data('Total renewable surface water (billion m3/year)', 'rgb(50, 140, 168)', '%%DATA_6%%');
        let chart_6 = new Chart(document.getElementById('chart-6'), config(data_6));

        let data_7 = data('Total renewable water resources (billion m3/year)', 'rgb(135, 52, 14)', '%%DATA_7%%');
        let chart_7 = new Chart(document.getElementById('chart-7'), config(data_7));

        let data_8 = data('Total Renewable Water Resources Per Capita (m3/inhab/year)', 'rgb(255, 99, 132)', '%%DATA_8%%');
        let chart_8 = new Chart(document.getElementById('chart-8'), config(data_8));

    </script>
</body>
</html>