<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>US Precipitation</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/css/water.css">
    <link rel="stylesheet" href="/css/template.css">
  </head>
  <body>
    <a id="home" href="/">Home Page</a>
      <h1 class="one-background">US Precipitation in %%YEAR%%</h1>

    <h2 class="one-title">National Rainfall Index (NRI)</h2>
    <p><strong>Definition: </strong> An indicator, developed by The Food and Agriculture Organization (FAO), which represents the quality of the crop growing season. The NRI yearly results take into consideration the precipitation that year, the average precipitation over the period 1986-2000, the seasonality of the main crop-growing season (distinguishing between northern and southern hemispheres), and what areas of the country are wetter.</p>
    <p>NRI in <strong>%%YEAR%%</strong> is <strong>%%NRI_VALUE%% %%NRI_UNIT%%</strong></p>

    <img src = "/images/%%NRI_IMAGE%%.jpeg" alt = "NRI Picture" width="250" height="250"/>

    <h2 class="one-title">Long-term Average Annual Precipitation In Depth</h2>
    <p><strong>Definition: </strong> Long-term average (over space and time) of annual endogenous precipitation (produced in the country) in depth.</p>
    <p>Average annual precipitation in <strong>%%YEAR%%</strong> is <strong>%%AVGTEMP_VALUE%% %%AVGTEMP_UNIT%%</strong></p>

    <img src = "/images/%%AVGTEMP_IMAGE%%.jpeg" alt = "Long-term Average Annual Precipitation Picture" width="300" height="200"/>

    <canvas id="myChart" width="4" height="1"></canvas>

    <div class="one-buttons" >
      <a href="/precipitation/%%MINUS%%"><button>Previous</button></a>
      <a href="/precipitation/%%PLUS%%"><button>Next</button></a>
    </div>

    <script>
      const ctx = document.getElementById('myChart').getContext('2d');
      const myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: ['NRI', 'Annual Precipitation'],
              datasets: [{
                  label: '(mm/year)',
                  data: [%%NRI_VALUE%%, %%AVGTEMP_VALUE%%],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
      </script>
  </body>
</html>