<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>US Precipitation</title>
	<link rel="stylesheet" href="css/water.css">
  </head>
  <body>
	<a href="index.html">Home</a>
    <h1>US Precipitation in %%YEAR%%</h1>

		<h2>National Rainfall Index (NRI)</h2>
		<p><strong>Definition: </strong> An indicator, developed by The Food and Agriculture Organization (FAO), which represents the quality of the crop growing season. The NRI yearly results take into consideration the precipitation that year, the average precipitation over the period 1986-2000, the seasonality of the main crop-growing season (distinguishing between northern and southern hemispheres), and what areas of the country are wetter.</p>
		<p>NRI in <strong>%%YEAR%%</strong> is <strong>%%NRI_VALUE%% %%NRI_UNIT%%</strong></p>

		<h2>Long-term Average Annual Precipitation In Depth</h2>
		<p><strong>Definition: </strong> Long-term average (over space and time) of annual endogenous precipitation (produced in the country) in depth.</p>
		<p>Average annual precipitation in <strong>%%YEAR%%</strong> is <strong>%%AVGTEMP_VALUE%% %%AVGTEMP_UNIT%%</strong></p>

		<img src="#" alt="dynamic image"><br><br>

		<a href="/precipitation/%%MINUS%%"><button>Previous</button></a>
		<a href="/precipitation/%%PLUS%%"><button>Next</button></a>
	</body>
</html>