<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>US Renewable Resources</title>
    <link rel="stylesheet" href="/css/water.css">
    <link rel="stylesheet" href="/css/template.css">
  </head>
  <body>
    <a href="/">Home Page</a>
    <h1 class="three-background">US Renewable Resources in %%YEAR%%</h1>

    <h2 class="three-title">Total Renewable Groundwater</h2>
    <p><strong>Definition: </strong> This is the sum of the total internal and external renewable groundwater resources.</p>
    <p>Total renewable groundwater in %%YEAR%% is %%GROUNDWATER_VALUE%% %%GROUNDWATER_UNIT%%</p>

    <h2 class="three-title">Total Renewable Surface Water</h2>
    <p><strong>Definition: </strong> This is the sum of the total internal and external renewable surface water resources. Surface water is all water naturally open to the atmosphere, concerning rivers, lakes, reservoirs, ponds, streams, impoundments, seas, estuaries and wetlands.</p>
    <p>Value in %%YEAR%% is %%SURFACEWATER_VALUE%%  %%SURFACEWATER_UNIT%%</p>

    <h2 class="three-title">Total Renewable Water Resources</h2>
    <p><strong>Definition: </strong> The sum of internal renewable water resources (IRWR) and external renewable water resources (ERWR). It corresponds to the maximum theoretical yearly amount of water available for a country at a given moment.</p>
    <p>[Total renewable water resources] = [Total renewable surface water] + [Total renewable groundwater] - [Overlap between surface water and groundwater].</p>
    <p>Total renewable water resources in %%YEAR%% is %%WATERRESOURCES_VALUE%% %%WATERRESOURCES_UNIT%%</p>

    <div class="three-buttons">
      <a href="/precipitation/%%MINUS%%"><button>Previous</button></a>
      <a href="/precipitation/%%PLUS%%"><button>Next</button></a>
    </div>
  </body>
</html>